$font-size-base: 1rem; // Assumes the browser default, typically `16px`

/* ----------------------------------------------------------- */

$font-family-base: "Open Sans", sans-serif;
$font-weight-base: 500;
$line-height-base: 1.5;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: "Open Sans", sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.5;
$headings-color: #000;

/* ----------------------------------------------------------- */

$html-font-sizes: (
  xs: 16px,
  sm: 16px,
  md: 16px,
  lg: 16px,
  xl: 16px,
);

$h1-font-sizes: (
  xs: $font-size-base * 2.25,
  sm: $font-size-base * 2.25,
  md: $font-size-base * 2.25,
  lg: $font-size-base * 2.25,
  xl: $font-size-base * 2.25,
);

$h2-font-sizes: (
  xs: 21px,
  sm: 21px,
  md: 21px,
  lg: 30px,
  xl: 30px,
);

$h3-font-sizes: (
  xs: $font-size-base * 1.3,
  sm: $font-size-base * 1.4,
  md: $font-size-base * 1.4,
  lg: $font-size-base * 1.4,
  xl: $font-size-base * 1.4,
);

$h4-font-sizes: (
  xs: 18px,
  sm: 18px,
  md: 18px,
  lg: 21px,
  xl: 21px,
);

$h5-font-sizes: (
  xs: $font-size-base * 1,
  sm: $font-size-base * 1,
  md: $font-size-base * 1,
  lg: $font-size-base * 1.1,
  xl: $font-size-base * 1.1,
);

$h6-font-sizes: (
  xs: $font-size-base,
  sm: $font-size-base,
  md: $font-size-base,
  lg: $font-size-base,
  xl: $font-size-base,
);

/* ----------------------------------------------------------- */

$navbar-font-sizes: (
  xs: 16px,
  sm: 16px,
  md: 16px,
  lg: 16px,
  xl: 16px,
);

$utility-bar-font-size: (
  xs: 15px,
  sm: 15px,
  md: 15px,
  lg: 15px,
  xl: 15px,
);

$site-legal-font-size: (
  xs: 15px,
  sm: 15px,
  md: 15px,
  lg: 15px,
  xl: 15px,
);

/* ----------------------------------------------------------- */
