// ---- Mixins

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// ---- Variables

@import "variables/variables";

// ---- Parent

@import "../../../../wp-theme-parent/assets/src/sass/variables";

// ---- Bootstrap

@import "~bootstrap/scss/variables";

//remove unwanted colors
$colors: map-remove(
  $colors,
  "blue",
  "indigo",
  "purple",
  "red",
  "orange",
  "yellow",
  "green",
  "teal",
  "cyan",
  "pink",
  "gray",
  "gray-dark"
);
$theme-colors: map-remove(
  $theme-colors,
  "info",
  "warning",
  "success",
  "danger",
  "light"
);

//@debug $colors;
//@debug $theme-colors;

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";

/**
  * we only need primary in most cases. so removing extra colors from $theme-colors.
  * If needed you can remove the color from following map-remove() function.
  * Make sure only the needed button classes generated in main.css.
  */
$theme-colors-bk: $theme-colors;
$theme-colors: map-remove($theme-colors, "secondary", "dark", "white");
@debug $theme-colors;
@import "~bootstrap/scss/buttons";
$theme-colors: $theme-colors-bk;
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/print";

// ---- bootstrap utilities
@import "styles/base/bootstrap-utilities";

// ---- Font Awesome

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
//@import "~@fortawesome/fontawesome-free/scss/brands";
//@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// ---- Animate

//@import "~animate-sass/animate";

// ---- Parent

@import "../../../../wp-theme-parent/assets/src/sass/style";

// --- Child Styling

@import "styles/styles";
