.lg-loading-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $loading-screen-background;
    top: 0;
    left: 0;
    z-index: 9999;
  .loading-spinner-centered {
  	z-index: 9999;
  	right: 50%;
  	top: 50%;
  	bottom: auto;
  	margin-top: -25px;
  	margin-right: -25px;
  	position: fixed;
  	opacity: 1;    
  }
  .loading-spinner {
  	z-index: 9999;
  	right: 50%;
  	top: 50%;
  	bottom: auto;
  	margin-top: -25px;
  	margin-right: -25px;
  	position: fixed;
  	width: 50px;
  	height: 50px;
  	opacity: 1;
  	-webkit-animation: rotate-all 1s linear infinite;
  	-moz-animation: rotate-all 1s linear infinite;
  	animation: rotate-all 1s linear infinite;
  }

  .secondary-spinning .loading-spinner-primary.loading-spinner-detect {
    display: none !important;
  }
  .loading-right-side,
  .loading-left-side {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }

  .loading-left-side {
    left: 0;
  }

  .loading-right-side {
    right: 0;
  }

  .loading-bar {
    width: 100%;
    height: 100%;
    -moz-border-radius: 200px 0 0 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px 0 0 200px;
    border: 4px solid #fff;
    position: relative;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  }
  .loading-bar:after {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #fff;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .loading-right-side .loading-bar {
    -moz-border-radius: 0 200px 200px 0;
    -webkit-border-radius: 0;
    border-radius: 0 200px 200px 0;
    border-left: none;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform-origin: left center;
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    animation: rotate-right 2.75s linear infinite alternate;
    -moz-animation: rotate-right 2.75s linear infinite alternate;
    -webkit-animation: rotate-right 2.75s linear infinite alternate;
  }
  .loading-right-side .loading-bar:after {
    bottom: -4px;
    left: -2px;
  }
  .loading-left-side .loading-bar {
    border-right: none;
    transform: rotate(10deg);
    transform-origin: right center;
    -moz-transform-origin: right center;
    -webkit-transform-origin: right center;
    animation: rotate-left 2.75s linear infinite alternate;
    -moz-animation: rotate-left 2.75s linear infinite alternate;
    -webkit-animation: rotate-left 2.75s linear infinite alternate;
  }
  .loading-left-side .loading-bar:after {
    bottom: -4px;
    right: -2px;
  }

  @keyframes rotate-left {
    to {
  	transform: rotate(30deg);
  	-moz-transform: rotate(30deg);
  	-webkit-transform: rotate(30deg);
    }
    from {
  	transform: rotate(175deg);
  	-moz-transform: rotate(175deg);
  	-webkit-transform: rotate(175deg);
    }
  }
  @keyframes rotate-right {
    from {
  	transform: rotate(-175deg);
  	-moz-transform: rotate(-175deg);
  	-webkit-transform: rotate(-175deg);
    }
    to {
  	transform: rotate(-30deg);
  	-moz-transform: rotate(-30deg);
  	-webkit-transform: rotate(-30deg);
    }
  }
  @keyframes rotate-all {
    from {
  	transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-webkit-transform: rotate(0deg);
    }
    to {
  	transform: rotate(-360deg);
  	-moz-transform: rotate(-360deg);
  	-webkit-transform: rotate(-360deg);
    }
  }
}