.page-header {
  background-color: transparent;
  min-height: 8rem;
}

.top-banner {
  height: 600px;
  align-items: flex-end;
  padding-bottom: 2rem;
  .wp-block-button__link {
    &.has-secondary-background-color {
      &:hover {
        background-color: #fff;
        color: theme-color("primary");
      }
    }
  }
  @include media-breakpoint-up(md) {
    height: 635px;
    padding-bottom: 4rem;
  }
  @include media-breakpoint-up(xl) {
    height: 615px;
  }
  .wp-block-cover__inner-container {
    display: flex;
    justify-content: center;
    .top-banner-content {
      background-color: rgba($color: theme-color("primary"), $alpha: 0.75);
      width: 315px;
      padding: 1.5rem;
      @include media-breakpoint-up(md) {
        width: 615px;
        padding: 2.5rem;
      }
      @include media-breakpoint-up(xl) {
        width: 515px;
        padding: 2.5rem;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .page-header {
    min-height: 13.75rem;
  }
}
