.contact-box {
    .file-list {
        color: #1b698d;
        flex: 0 0 100%;
        text-align: center;
    }
    ::placeholder {
        color: theme-color("primary");
        font-weight: 500;
    }
    @include media-breakpoint-down(sm) {
        width: 100% !important;
    }
    color: #fff;
    .gform_footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        input[type="submit"] {
            background-color: #fff;
            padding: 3px 1rem;
            color: theme-color("secondary");
            box-shadow: 0 2px 2px #707070;
            border: none;
            border-radius: 50px;
            font-weight: 700;
        }
    }
    .gform_wrapper {
        form {
            input[type="checkbox"] {
                -webkit-appearance: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: white;
                //   border: 2px solid #555;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                &:checked {
                    &:after {
                        content: "\2714";
                        font-size: 40px;
                        color: theme-color("primary");
                    }
                }
            }
            .gform_body {
                .contact-im-interested-in {
                    p {
                        line-height: 1.5;
                    }
                    > legend {
                        display: block !important;
                        color: #fff;
                        font-weight: 500;
                        margin-bottom: 1.5rem;
                    }
                    .ginput_container_checkbox {
                        max-width: 200px;
                        @include media-breakpoint-up(md) {
                            max-width: unset;
                        }
                        margin: 0 auto;

                        .gfield_checkbox {
                            @include media-breakpoint-up(xl) {
                                display: flex;
                            }
                            img {
                                margin-bottom: 0.75rem;
                                width: 100%;
                                @include media-breakpoint-up(md) {
                                    width: 100px;
                                    margin-bottom: 0;
                                    margin-right: 1rem;
                                }
                                @include media-breakpoint-up(xl) {
                                    width: 100%;
                                }
                            }
                            .gchoice {
                                text-align: center;
                                position: relative;
                                margin-bottom: 1.5rem;
                                @include media-breakpoint-up(xl) {
                                    &:not(:first-child) {
                                        margin-left: 1.5rem;
                                    }
                                }

                                > label {
                                    max-width: 100%;
                                    font-size: 21px;
                                    @include media-breakpoint-up(md) {
                                        display: flex;
                                        align-items: center;
                                    }
                                    @include media-breakpoint-up(xl) {
                                        flex-direction: column;
                                    }
                                }
                                input[type="checkbox"] {
                                    position: absolute;
                                    left: 0.5rem;
                                    top: 0.5rem;
                                }
                            }
                        }
                    }
                }
                .contact-im-a {
                    > legend {
                        display: block !important;
                        color: #fff;
                        margin-bottom: 1.5rem;
                        font-weight: 500;
                    }
                    .ginput_container_checkbox {
                        .gfield_checkbox {
                            max-width: 200px;
                            margin: auto;
                            @include media-breakpoint-up(md) {
                                display: flex;
                                flex-wrap: wrap;
                                max-width: unset;
                                > .gchoice {
                                    flex: 0 0 50%;
                                    padding: 0 4rem;
                                }
                            }
                            @include media-breakpoint-up(xl) {
                                > .gchoice {
                                    flex: 0 0 25%;
                                    padding: 0;
                                }
                            }
                            .gchoice {
                                margin-bottom: 1rem;
                                input[type="checkbox"] {
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                }
                .contact-infos {
                    // display: flex;
                    .form-section {
                        display: none;
                    }
                    input[type="text"] {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border: none;
                    }
                    > div {
                        margin-bottom: 1.5rem;
                    }
                    @include media-breakpoint-up(md) {
                        display: flex;
                        flex-wrap: wrap;
                        > div {
                            flex: 0 0 50%;
                            &:nth-child(even) {
                                padding-right: 1rem;
                            }
                            &:nth-child(odd) {
                                padding-left: 1rem;
                            }
                        }
                    }
                }
            }
            .contact-describe-message {
                textarea {
                    border: none;
                }
                .gfield_label {
                    display: block !important;
                    font-weight: 500;
                }
            }
            .gform_body .gform_fields > .gfield:last-child {
                // this is the upload file field
                .form-section {
                    margin-bottom: 1rem;
                    & + .gfield {
                        background-color: #fff;
                        padding: 3rem 1rem;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include media-breakpoint-up(xl) {
                            flex-direction: row;
                        }
                        &:before {
                            content: "Drop files here or";
                            color: theme-color("primary");
                            margin-bottom: 0.5rem;
                            font-weight: 700;
                            @include media-breakpoint-up(xl) {
                                margin-bottom: 0;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                input[type="file"] {
                    display: none;
                }
                .gfield_label {
                    display: inline-block !important;
                    background-color: theme-color("secondary");
                    border-radius: 50px;
                    padding: 5px 10px;
                    box-shadow: 0 1px 1px #505050;
                }
                .gform_fileupload_rules {
                    display: none;
                }
                .ginput_container {
                }
            }
        }
    }
}
