#site-content
    > main
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-lg-blocks-slider):not(.is-style-wide),
.img-text.alignfull .img-text__inner,
.wp-block-lg-blocks-video-banner.alignfull .content {
    padding: 0;
    width: calc(100% - 2rem);
    @extend .container;
    @include media-breakpoint-up(md) {
        width: calc(100% - 4rem);
    }
    @include media-breakpoint-up(xl) {
        width: calc(100% - 2rem);
    }
}

// narrower container
.site #site-content {
    // make sure site content has at least 100% view port height minus the header and footer height combined(approx)
    min-height: calc(100vh - 75px);
    > main > .narrow-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 320px !important;
        @include media-breakpoint-up(md) {
            max-width: 600px !important;
        }
        @include media-breakpoint-up(xl) {
            max-width: 975px !important;
        }
    }
}

#site-content {
    padding-top: $offcanvas-top;
    @include media-breakpoint-up(md) {
        padding-top: $offcanvas-top-tablet;
    }
    @include media-breakpoint-up(xl) {
        padding-top: $offcanvas-top-desktop;
    }
}

hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

p {
    &.smaller-p {
        line-height: 1.5;
        &.line-height-normal {
            line-height: 1.8;
        }
        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }
    }
    &.opacity-p {
        opacity: 0.8;
    }
    &.mini-p {
        font-size: 14px;
        @include media-breakpoint-up(xl) {
            font-size: 12px;
        }
    }
    line-height: 1.8;
    // @include media-breakpoint-up(md) {
    // }
    @include media-breakpoint-up(xl) {
        font-size: 21px;
    }
    &.line-height-mini {
        line-height: 1.3;
    }
}
.short-btn-line-height {
    a {
        line-height: 1.3;
        padding: 5px 12px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    &.opacity-text {
        opacity: 0.8;
    }
    &.text-light {
        font-weight: 400;
    }
    &.text-normal {
        font-weight: 500;
    }
    &.text-bold {
        font-weight: 600;
    }
}

// default body text
body {
    font-size: 18px;
}

// button style
.wp-block-button__link {
    &.has-secondary-background-color {
        &:hover {
            background-color: theme-color("primary");
        }
    }
}

// reset breadcrumb
.lg-breadcrumb {
    color: theme-color("primary");
    a {
        color: theme-color("secondary");
    }
}

// default button style
.wp-block-button__link,
.btn {
    box-shadow: 0 2px 6px #000;
    padding: 2px 15px;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        padding: 3px 20px;
        font-weight: 700;
    }
}

.group-flex {
    .wp-block-group__inner-container {
        display: flex;
        > *:not(:last-child) {
            margin-right: 1rem;
        }
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.wp-block-columns.tablet-swap-2-cols {
    @include media-breakpoint-up(md) {
        .wp-block-column {
            &:first-child {
                order: 2;
            }
            &:last-child {
                margin-left: 0;
                margin-right: 1rem;
            }
        }
    }
}

// font weights
.text-300 {
    font-weight: 300;
}
.text-400 {
    font-weight: 400;
}
.text-500 {
    font-weight: 500;
}
.text-600 {
    font-weight: 600;
}
.text-700 {
    font-weight: 700;
}

// line heights
.line-height-short {
    line-height: 1;
}

.become-a-dealer {
    border: 1px solid theme-color("primary");
    justify-content: space-between;
    &.wp-block-columns {
        flex-direction: column;
        padding: 2.5rem 2.5rem;
        border-radius: 180px;
        @include media-breakpoint-up(md) {
            border-radius: 115px;
        }
        .wp-block-columns {
            margin-bottom: 0;
            flex-direction: column;
            align-items: center;
            .wp-block-column {
                &:first-child {
                    // the icon
                    margin-bottom: 1rem;
                }
            }
        }
        .wp-block-column {
            margin-bottom: 0;
            text-align: center;
            figure {
                margin-bottom: 0;
                width: 85px;
                @include media-breakpoint-up(md) {
                    width: 175px;
                }
                @include media-breakpoint-up(xl) {
                    width: 100px;
                }
                margin: 0 auto;
            }
        }
        .wp-block-buttons {
            justify-content: center;
        }
    }
    .become-a-dealer-right {
        display: none;
    }

    .become-a-dealer-left {
        margin-bottom: 1rem;
        .wp-block-buttons {
            justify-content: center;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            .wp-block-buttons {
                justify-content: flex-start;
            }
            .wp-block-columns {
                flex-direction: row;
                flex-wrap: nowrap;
                .wp-block-column {
                    flex-basis: unset !important;
                    width: auto;
                    &:first-child {
                        margin-bottom: 0;
                    }
                    &:last-child {
                        text-align: left;
                        margin-left: 4rem;
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        padding: 2rem;
        &.wp-block-columns {
            flex-direction: row;

            .become-a-dealer-right {
                display: block;
                width: auto;
                flex-basis: unset;
                flex-grow: unset;
            }
            .become-a-dealer-left {
                .wp-block-columns {
                    .wp-block-column {
                        flex-grow: unset;
                        &:last-child {
                            margin-left: 2rem;
                        }
                    }
                }
                .wp-block-buttons {
                    display: none;
                }
            }
        }
    }
}

.tablet-mw-75 {
    @include media-breakpoint-up(md) {
        max-width: 75%;
    }
}

.desktop-mw-50 {
    @include media-breakpoint-up(xl) {
        max-width: 50%;
    }
}

// application cover block -> this is for full width hero image content
.site-banner-cover-content {
    .wp-block-group__inner-container {
        width: 90%;
        @include media-breakpoint-up(md) {
            width: 80%;
        }
        @include media-breakpoint-up(xl) {
            width: 60%;
        }
    }
}

.product-pricing {
    font-size: 30px !important;
}

.whitespace-nowrap {
    white-space: nowrap;
}
