#site-footer {
  background-color: theme-color("primary");
  font-weight: 300;
  text-align: center;
  #site-legal {
    max-width: 280px;
    @include media-breakpoint-up(md) {
      max-width: unset;
    }
    > div {
      a {
        &:hover {
          color: theme-color("secondary");
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    text-align: unset;
  }
}
