.gallery {
  .wp-block-lg-blocks-card {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1rem;
    .card {
      border: none;
      img {
        width: 100%;
      }
      .card-content {
        display: none;
      }
    }
  }
}
