.glass-railings-advantages {
  margin-bottom: 0;
  h4 {
    line-height: 1;
  }
  img {
    width: 110px;
  }
  text-align: center;
  @include media-breakpoint-down(lg) {
    .wp-block-image {
      margin-bottom: 0;
      width: 100px;
    }
    &.wp-block-columns {
      display: block;
      text-align: unset;
      > .wp-block-column {
        margin-left: 0 !important;
      }
      .wp-block-column {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        h4 {
          display: inline-block;
          margin-bottom: 0.25rem;
        }
        display: flex;
        align-items: center;
        > .wp-block-group {
          &:first-child {
            // this one would be the icons
            margin-right: 1rem;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .wp-block-image {
      width: unset;
    }
    &.wp-block-columns {
      text-align: center;
      .wp-block-image {
        margin-bottom: 1rem;
      }
      .wp-block-column {
        display: block;
      }
    }
  }
}
