.header-top {
  background-color: #fff;
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .header-phone {
    font-weight: 600;
  }
  .site-logos {
    .diy-logo {
      width: 50px;
      margin-right: 1.5rem;
    }
    .main-logo {
      max-width: 250px;
      align-self: center;
      padding: 0.5rem 0;
    }
    @include media-breakpoint-up($nav-breakpoint-up) {
      .diy-logo {
        width: 90px;
        padding-bottom: 1.5rem;
      }
      .main-logo {
        width: 350px;
        max-width: 450px;
        align-self: center;
        padding: 0.5rem 0;
      }
    }
    @include media-breakpoint-up(xl) {
      .diy-logo {
        width: 115px;
      }
      .main-logo {
        width: 435px;
      }
    }
  }
}

#site-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  .header-main {
    border-top: 1px solid theme-color("primary");
    border-bottom: 1px solid theme-color("primary");
    background-color: #fff;
    @include media-breakpoint-down($nav-breakpoint-down) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .main-navigation {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      .navbar {
        padding-top: 0;
        padding-bottom: 0;
        .hamburger {
          padding-top: 0;
          padding-bottom: 0;
          line-height: 0;
          .hamburger-inner,
          .hamburger-inner:after,
          .hamburger-inner:before {
            width: 30px;
            height: 3px;
          }
        }
        .offcanvas-collapse {
          transform: unset;
          top: -100%;
          left: 0;
          bottom: unset;
          transition: top 0.3s ease-in-out, visibility 0.3s ease-in-out,
            z-index 0.3s ease-in-out;
          background-color: #fff;
          &.open {
            z-index: 999;
            top: $offcanvas-top;
            @include media-breakpoint-up(md) {
              top: $offcanvas-top-tablet;
            }
            @include media-breakpoint-up(xl) {
              top: $offcanvas-top-desktop;
            }
          }
          #menu-main-menu {
            padding-top: 1rem;
            @include media-breakpoint-up($nav-breakpoint-up) {
              padding-top: 0;
            }
            > .nav-item {
              border-bottom: none;

              @include media-breakpoint-up($nav-breakpoint-up) {
                line-height: 0;
              }
              > .nav-link {
                color: theme-color("primary");
                padding: 0.5rem;
                text-transform: none;
                @include media-breakpoint-up($nav-breakpoint-up) {
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
      .header-mobile-phone {
        font-weight: 500;
      }
    }
  }
}
