.wp-block-columns.wp-block-columns.product-options {
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    h3 {
        margin-bottom: 0;
    }
    > .wp-block-column {
        flex-basis: 19% !important;
        margin-left: 0;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }
    }
    figure {
        width: 100%;
        img {
            width: 100%;
            @include media-breakpoint-up(md) {
                max-width: 100%;
            }
        }
    }
}
