.product-packages.lg-cards {
  a {
    color: #fff;
    transition: opacity 0.4s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  .wp-block-lg-blocks-card {
    margin-bottom: 1.5rem;

    .card.activateOverlay {
      .card-content {
        text-align: center;
        @include media-breakpoint-up(md) {
          text-align: left;
        }
        @include media-breakpoint-up(xl) {
          text-align: center;
        }
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        top: unset;
        bottom: 0;
        background-color: theme-color("primary");
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        h3 {
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
    &.taller-title {
      .card.activateOverlay .card-content {
        height: 70px;
        p {
          line-height: 1.5;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    .row {
      display: block;
      .wp-block-lg-blocks-card {
        flex: unset;
        max-width: unset;
        .card.activateOverlay {
          display: flex;
          flex-direction: row;

          img {
            width: 110px;
          }
          .card-content {
            position: static;
            height: auto;

            .card-body {
              position: static;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .row {
      display: flex;
      .wp-block-lg-blocks-card {
        &:hover {
          .card.activateOverlay {
            .card-content {
              opacity: 1;
            }
          }
        }
        flex: 0 0 20%;
        .card.activateOverlay {
          display: block;
          flex-direction: row;
          img {
            width: 100%;
          }
          .card-content {
            position: absolute;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            background-color: rgba(
              $color: theme-color("primary"),
              $alpha: 0.75
            );
            .card-body {
              position: absolute;
            }
          }
        }
      }
    }
  }
}
