.site-slider {
  .gallery-thumbs {
    width: calc(100% - 144px);
    margin: 0 auto;
    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }
  }
  &.thumb-extra-margin {
    .gallery-thumbs {
      margin: 0 20%;
    }
  }
  $thumb_height: 110px;
  $image_thumb_space: 1rem;
  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    @include media-breakpoint-up(md) {
      top: 40%;
    }
  }
  .swiper-button-next {
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent #00578d;
      @include media-breakpoint-up(lg) {
        border-width: 20px 0 20px 35px;
      }
    }
  }
  .swiper-button-prev {
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent #00578d transparent transparent;
      @include media-breakpoint-up(lg) {
        border-width: 20px 35px 20px 0;
      }
    }
  }
  .gallery-thumbs {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .swiper-wrapper {
      .swiper-slide__img {
        img {
          object-fit: contain;
        }
      }
    }
  }
  > .swiper-wrapper {
    margin-bottom: 1rem;
    .swiper-slide__img {
      img {
        object-fit: none;
        padding: 0 45px;
        @include media-breakpoint-up(xl) {
          padding: 0 30px;
        }
      }
    }
  }
  .wp-block-lg-blocks-swiper-single-slide {
    padding: 0 1rem;
  }
}
