.specifications {
  .wp-block-button__link {
    &.has-secondary-background-color {
      &:hover {
        background-color: #fff;
        color: theme-color("primary");
      }
    }
  }
  .wp-block-columns.specifications__finishes__color-boxes {
    @include media-breakpoint-down(sm) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    > .wp-block-column {
      flex-basis: unset;
      flex-grow: unset;
      @include media-breakpoint-down(sm) {
        flex-basis: 50% !important;
        &:first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }
  .black-box {
    background: black;
  }
  margin-bottom: 0;
  figure {
    margin-bottom: 0;
  }
  // .specifications__downlaod-btn {
  //   display: none;
  //   @include media-breakpoint-up(md) {
  //     display: block;
  //   }
  //   @include media-breakpoint-up(xl) {
  //     display: none;
  //   }
  // }
  > .wp-block-column {
    &:first-child {
      order: 2;
      @include media-breakpoint-up(md) {
        order: unset;
      }
      > .wp-block-columns {
        margin-bottom: 1rem;
        > .wp-block-column {
          margin-left: 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 2rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
}
