.wp-block-columns {
  @media only screen and(max-width: 767px) {
    flex-direction: column;
  }
}

.full-2-columns {
  .wp-block-column {
    &.mobile-order-2 {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }
    @media (min-width: 600px) and (max-width: 1200px) {
      flex-grow: 1;
      flex-basis: 50%;
    }
    @include media-breakpoint-up(xl) {
      &.full-2-column-content {
        flex-basis: 40%;
      }
      &:not(.full-2-column-content) {
        flex-basis: 60%;
      }
    }

    &:not(:first-child) {
      margin-left: 0;
    }
    figure {
      margin-bottom: 0;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &.full-2-column-content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      min-height: 445px;
      @include media-breakpoint-up(xl) {
        padding-left: 4rem;
        padding-right: 4rem;
      }
    }
  }
}

//special offer layout
.special-offer {
  &.wp-block-columns {
    flex-direction: column;
    margin-bottom: 0;
    figure {
      margin-bottom: 0.75rem;
    }
    .wp-block-column {
      p {
        margin-bottom: 0;
      }
    }
    .special-offer-tag {
      width: 120px;
      @include media-breakpoint-up(xl) {
        width: 150px;
      }
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      .wp-block-column {
        flex-basis: unset !important;
        flex-grow: unset;
        &:last-child {
          margin-left: 1rem;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      align-items: end;
    }
  }
}
