//Utility Bar

$utility-bar-background-color: theme-color("primary");
$utility-bar-color: theme-color("white");
$utility-bar-padding: $spacer * 0.5 0;

$utility-bar-icon-color: theme-color("white");
$utility-bar-icon-size: 13px;

/* Header */

$header-background-color: #fff;
$header-box-shadow: unset; //0 2px 6px #e7e7e7;

$header-logo-width: 150px;
$header-logo-width-sm: 200px;
$header-logo-width-md: 200px;

$mobile-toggle-size: 25px;
$header-padding: $spacer 0;

$nav-breakpoint-up: "md";
$nav-breakpoint-down: "sm";
